# Raw and cleaned data folders
raw_data/
clean_data/

# Large data files
*.parquet
*.zip

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
